{% extends 'base.html' %}
{% block content %}
<h2>Flat {{ flat.number }}</h2>
<ul>
    <li>UDS Area: {{ flat.uds_area }}</li>
    <li>Ownership Type: {{ flat.ownership_type }}</li>
    <li>Owner: {{ flat.owner }}</li>
    <li>Tenant: {{ flat.tenant }}</li>
    <li>Occupied: {{ flat.is_occupied }}</li>
    <li>Occupancy Start: {{ flat.occupancy_start }}</li>
    <li>Occupancy End: {{ flat.occupancy_end }}</li>
</ul>
<a href="{% url 'flat_update' flat.pk %}">Edit</a> |
<a href="{% url 'flat_delete' flat.pk %}">Delete</a> |
<a href="{% url 'flat_list' %}">Back to List</a>
{% endblock %}
